<h1>Listing reports</h1>

<table id="reports-table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Type</th>
    <th>User</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Report</a>