.front
  %h1 
    Purgatory
    =# image_tag 'tortured.jpg'
  .hero-unit.front-body
    %p 
      Inspired by 
      = link_to "Clients From Hell,", 'http://clientsfromhell.net/'
      Purgatory is the nether region in which a client's fate is decided. Sins are weighed against virtues,
      and fate hangs in the balance.
    %p
      You'll need to prove your virtue to participate; only the worthy may enter. Sign in with Github, 
      and if you are truly righteous, you may pass judgement on the just and unjust alike.

