// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fell {
  font-family: 'IM Fell English', serif;
}

.hero-left {
  float: left;
}

.hero-right {
	float: right;
  h6 {
    font-size: 16px;
  }
  h6.virtue {
    color: #3399FF;
  }
  h6.sin {
    color: #990000;
  }
}
